<div id="homePageOne" class="block-home is-visible">
    <div class="logoHome">
        <img src="apps/commons/theme_edp/logo_edp_bleu.png" alt="Logo Eau de Paris" style="width: 100px;margin-bottom: 2rem;">
    </div>
    <div class="titleHome">Les 50 fontaines Wallace à découvrir</div>
    <div class="textHome">
        Pour le 150ème anniversaire des fontaines Wallace à Paris, nous vous invitons à répondre à ce Quiz. Faites librement et à votre rythme votre parcours des 50 fontaines. Vos réponses reçues entre le 10 septembre et le 21 septembre minuit seront comptabilisées et vous permettront peut-être de gagner une « petite récompense » à retirer dans les jardins des Champs Élysées le WE d’animation du 24-25 septembre 2022. Le Quiz restera accessible en ligne et via les QR-Code au-delà du 21 septembre.
    </div>
    <div class="display-flex">
        <div class="btnGroupHome">
            <button class="btnHome" data-dismiss="modal">
                Voir la carte
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z" fill="#002ddc"></path></svg>    
            </button>
            <a class="btnLink" target="_blank" href="https://www.eaudeparis.fr/actualit%C3%A9s/fontaines-wallace-licone-150-ans">En savoir plus</a>
        </div>
        <div id="btnToCarto" onclick="displayBlock()">
            <img src="apps/commons/icons/icon_globe.svg" alt="Icon globe"/>
            <span>Accéder à la cartothèque</span>
        </div>
    </div>
</div>
<div id="homePageTwo" class="block-home">
    <button id="btnGoHome" onclick="displayBlock()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25" height="25"><path d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z" fill="currentColor"></path></svg>
    </button>    
    <div class="titleHome">La cartothèque d'Eau de Paris</div>
    <div id="blockMapLibrary"> 
    </div>
</div>
<script>
    // MapLibrary - insert template to home page
    async function asyncCallMapLib() {
        urlLibrary = "apps/commons/templates/mapLibrary_edp/mapLibrary.html";
        const callhtml = await fetch(urlLibrary);
        const htmltext = await callhtml.text();
        blockMapLibrary.innerHTML= htmltext;
    }
    asyncCallMapLib();

    // MapLibrary - manage display page
    function displayBlock(){
        homePageOne.classList.toggle("is-visible");
        homePageTwo.classList.toggle("is-visible");
    }
</script>

<style>
/* Home style */

.display-flex {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
}

.titleHome {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--mycolor);
    margin-bottom: 1rem;
    line-height: 1.1;
}
.xs .titleHome {
    font-size: xx-large;
}

.textHome {
    font-size: large;
}

.xs .textHome {
    font-size: larger;
}

.btnGroupHome {
    display: flex;
    align-items: center;
}

.btnHome {
    background-color: #aab9ff7a;
    font-size: large;
    border: none;
    color: var(--mycolor);
    font-weight: 700;
    padding: 1rem 1.5rem;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
}

.btnHome:hover {
    opacity: 0.8;
}

.btnHome svg {
    margin-left: 5px;
}

.btnLink {
    font-size: large;
    color: var(--mycolor);
    font-weight: 700;
    border-bottom: 3px solid var(--mycolor);
    margin-left: 2rem;
}

.btnLink:hover {
    border-color: #002ddc00;
    color: var(--mycolor);
}

#btnToCarto img {
    width: 40px;
}

#btnToCarto {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 90px;
    background-color: #92ffed;
    text-align: center;
    padding: 1em 3em;
    border-radius: 0.8em;
    line-height: 1;
    color: var(--mycolor);
    font-weight: 600;
    font-size: 13px;
    transition: transform .2s;
}

#btnToCarto:hover {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
}

.xs #btnToCarto {
    margin-top: 1em;
}

#btnGoHome{
    background-color: #aab9ff00;
    font-size: large;
    border: 2px solid var(--mycolor);
    border-radius: 2em;
    height: 40px;
    width: 40px;
    color: var(--mycolor);
    font-weight: 700;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
}

#btnGoHome:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

.xs .btnHome, .xs .btnLink {
    font-size: larger;
}

/* Manage display mapLibrary */

.block-home{
    display: none;
}
.block-home.is-visible{
    display: block;
}

@media (min-width: 992px){
    #help .modal-dialog.modal-lg {
        width: 700px;
    } 
}

</style>