<div id="socNetwork">
  <h4 i18n="addon.socNetwork.title">Rejoindre la communauté</h4>
  <div id="iconSocialLink">
    <a href="https://www.linkedin.com/company/eau-de-paris/" target="_blank"
      ><img src="apps/commons/icons/icon_linkedin.svg" alt="Icon linkedin"
    /></a>
    <a href="https://twitter.com/eaudeparis" target="_blank"
      ><img src="apps/commons/icons/icon_twitter.svg" alt="Icon twitter"
    /></a>
    <a href="https://www.instagram.com/eaudeparis/?hl=fr" target="_blank"
      ><img src="apps/commons/icons/icon_instagram.svg" alt="Icon instagram"
    /></a>
    <a href="https://www.facebook.com/eaudeparis" target="_blank"
      ><img src="apps/commons/icons/icon_facebook.svg" alt="Icon facebook"
    /></a>
  </div>
  <div id="linkWebsite">
    <a href="https://www.eaudeparis.fr/" target="_blank">eaudeparis.fr</a>
  </div>
</div>

<style>
  #socNetwork {
    border-top: 1px solid var(--mycolor);
  }
  
  #sidebarFooter {
    font-family: var(--myfont);
    color: var(--mycolor);
    padding: 0.5em 1em;
  }

  #sidebarFooter h4 {
    font-weight: 600;
    font-size: 16px!important;
  }

  #iconSocialLink img {
    width: 35px;
    transition: transform 0.2s;
  }

  #iconSocialLink img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  #linkWebsite a {
    font-family: var(--myfont);
    color: var(--mycolor);
    font-size: unset;
    font-weight: 500;
  }

  #linkWebsite {
    margin: 5px 0px;
  }
</style>
