#btnGeoloc-custom-component button{
    position: fixed;
    bottom: 2rem;
    right: 10rem;
    background-color: var(--mycolor);
    color: white;
    border: none;
    font-family: var(--myfont);
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 2rem;
}

#btnGeoloc-custom-component button:hover {
    opacity: 0.9;
}

/* Position du btn en mode xs */

.xs #btnGeoloc-custom-component button {
    right: 38%!important;
    font-size: small;
    padding: 6px 15px;
}
