.time-calendar {
    width: 100%;
    border: 2px solid var(--mycolor)!important;
    border-radius: 2em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16' fill='rgba(0,45,220,1)'%3E%3Cpath d='M9 1V3H15V1H17V3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20 11H4V19H20V11ZM7 5H4V9H20V5H17V7H15V5H9V7H7V5Z'%3E%3C/path%3E%3C/svg%3E");    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 96%;
    padding: 7px 15px;
}

.time-calendar input{
    width: 90%;
    height: 80%;
    padding-left: 2px;
    border: 0px solid transparent;    
    color: var(--mycolor);
}

.time-calendar input:focus {
    border: none !important;

}

.datepicker-dropdown {
    font-family: var(--myfont);
    padding: 1em;
    border-radius: 1em;
    border: none;
}

.datepicker-dropdown.datepicker-orient-left:after {
    left: 10px!important;
}

.datepicker table tr td.today {
    background-color: #94949466!important;
    border-color: #94949466!important;
}

.datepicker table tr td, .datepicker table tr th {
    border-radius: 10px!important;
}

.datepicker .active, .datepicker .focused {
    color: white!important;
    background-color: var(--mycolor)!important;
}

.datepicker-switch {
    text-transform: uppercase;
}

#time-filter-44 .switch__btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: -28px 1em 1em 0px;
}

#time-filter-44 .switch__btn .switch-title {
    margin-right: 0.5em;
}