/*SLIDER*/
.slider .slider-track {
    height: 5px !important;
}

.slider-track-high {
    background-color: var(--mycolor) !important;
}

.slider .slider-tick {
    width: 10px !important;
    height: 10px !important;
    background-color: var(--mycolor) !important;
    border: 1px solid var(--mycolor);
}

.slider .min-slider-handle {
    width: 17px !important;
    height: 17px !important;
    border: 3px solid var(--mycolor);
    background-color: white !important;
}