#sidebar #searchtool {
    margin: 3em 0 2em;
    width: 100%!important;
    padding: 0;
}

#sidebar #searchtool .form-group {
    border: 2px solid var(--mycolor)!important;
    border-radius: 2em;
    width: 100%!important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='rgba(0,45,220,1)'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1em;
    padding-left: 1.5em;
}

#sidebar #searchfield{
    background-color:#00ffff00;
    color: var(--mycolor)!important;
    font-family: var(--myfont);
}

#sidebar #searchfield::placeholder{
    color: var(--mycolor)!important;
    font-style:italic;
}

#sidebar #searchtool .btn {
    background-color:#00ffff00!important;
}

#sidebar #searchresults {
    position: absolute!important;
    top: 100px!important;
    left: 12px!important;
    width: 90%!important;
    z-index: 100;
    border: 2px solid var(--mycolor);
    max-width: 90%!important;
}

#sidebar .searchresults-title {
    font-size: 17px!important;
}

#sidebar #searchresults a.list-group-item.disabled {
    font-size: 12px!important;
    text-transform: uppercase;
}

#sidebar #searchresults a:hover {
    background-color: var(--mycolor)!important;
    color: white!important;
}

#sidebar #searchresults a {
    font-size: 13px!important;
}

/* Masque le bouton d'accès à la modal "Paramètres de recherche" */

#searchtool .input-group-btn {
    display: none;
}

