.form-check-parent {
    margin-bottom: 15px;
}
.btn-check {
    margin: 2px;
    border-radius: 20px;
    min-width: 5em;
}

.btn-check.default {
    color: #a4a2a2;
    background-color: #eeeeee;
}

.btn-check.selected {
    color: white;
    background-color: var(--bleu);
}

.area-title {
    font-weight: 600;
    margin-right: 20px;
    padding: 0!important;
    font-size: 15px!important;
    color: var(--bleu);
}